<div class="header" style="margin-bottom: 16px;">
  <h1 style="max-width: 800px;  margin: 0 auto;  padding-top: 36px;font-style: normal;font-weight: inherit;color: #999999;font-size: 20px;">Amr Elroumy's Blog</h1>
  <h3 style="max-width: 800px;  margin: 0 auto;padding-top: 2px;font-style: normal;">Science, Programming &amp; Personal Encounters</h3>
</div>
<div style="
    max-width: 77%;
    margin: auto;
">
<div style="
    width: 10.7%;
    height: 5px;
    background-color: #f6c99a;
    display: inline;
    float: left;
"></div>
<div style="
    background-color: #bfdab3;
    height: 5px;
    display: inline;
    float: left;
    width: 78.3%;
"></div>
<div style="
    width: 10.7%;      
    height: 5px;      background-color: #f6c99a;      display: inline;      float: left;
"></div>
</div>
