 <div class="span3" id="sidebar">
    <ul class="sidebar-menu sidebar-nav-fixed">
        <li>
            <div class="sidebar-menu-item-wrapper">
                <a href="/">
                    <i class="icon-home icon-white"></i>
                    <span>Home</span>
                </a>
            </div>
        </li>
        <li>
            <div class="sidebar-menu-item-wrapper">
                <a href="/blog/">
                    <i class="icon-list-alt icon-white"></i>
                    <span>Blog</span>
                </a>
            </div>
        </li>
        <li>
            <div class="sidebar-menu-item-wrapper">
                <a href="/about/">
                    <i class="icon-info-sign icon-white"></i>
                    <span>About Me</span>
                </a>
            </div>
        </li>
    </ul>
</div>
