{% extends "base.tmpl" %}
{% block content %}
    <div class="postbox">
        <!--Body content-->
        <h1>{{title}}</h1>
        <ul class="unstyled pills">
        {% for text, link in items %}
            <li><a href="{{link}}"><span class="badge badge-info">{{text}}</span></a></li>
        {% endfor %}
        </ul>
        <!--End of body content-->
    </div>
{% endblock %}
